src/**
scripts/**
test/**
tsconfig.json
eslint.config.mjs
**/*.map
**/__pycache__/**
**/*.pyc
dist/test/**
node_modules/@types/**
node_modules/typescript/**
node_modules/eslint/**
node_modules/typescript-eslint/**
node_modules/prettier/**
